body {
  margin: 0;
  background-color: #e6a582;
  font-family: "Varela Round", sans-serif;
  color: #693b30;
}

/* Header and Nav Bar */
header {
  background-color: #693b30;
  color: #e6a582;
  font-family: "Bebas Neue", cursive;
}

h1 {
  margin: 0;
  padding-top: 2rem;
  font-size: 4rem;
  text-align: center;
}

hr {
  border: 1px solid #e6a582;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 2rem;
}

nav a {
  border-bottom: 3px solid transparent;
}

nav div {
  width: 16rem;
  text-align: center;
}

nav a:hover {
  border-bottom: 3px solid #e6a582;
}

/* Modals */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Body Text */
.donut-count {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0;
}

.donuts-produced {
  text-align: center;
  margin-top: 0;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.flex > div {
  text-align: center;
  padding: 3rem 0;
  width: 17rem;
}

.click-donut-div {
  text-align: center;
}

.donuts-per-second {
  text-align: center;
}

/* Buttons */
.add-donut {
  user-select: none;
  border-radius: 7rem;
}

.add-donut:active {
  transform: translateY(5px);
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.reset-div {
  text-align: center;
  padding-top: 2rem;
}
